.MapConfiguration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1400px;
  width: 100%;
  padding: 10px;
  background-color: var(--main-dark);
  z-index: 99;

  .divContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 512px;
    width: 100%;

    .divTanks {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .divBtns {
      display: flex;
      gap: 10px;
    }
  }
}
