.SelectedSpots {
  margin-bottom: 50px;

  .divLayout {
    position: relative;
    overflow: hidden;
    width: 512px;
    height: 512px;
  }

  .divContent {
    display: flex;
    justify-content: space-between;

    h2 {
      font-weight: bold;
    }

    .divBtn {
      display: flex;
      gap: 5px;
      margin-bottom: 10px;
    }
  }

  .extraText {
    max-width: 512px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;

    h2 {
      font-weight: bold;
      margin: 5px 0 5px 0;
    }
  }
}
