.NavigationBar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--main-grey);
  padding: 5px 0;
  margin-bottom: 20px;

  .navElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 100%;

    .logoImg {
      max-width: 100px;
      width: 100%;
    }

    .divRight {
      display: flex;
    }
  }
}

@media (max-width: 700px) {
  .navElements {
    justify-content: flex-end !important;

    .logoImg {
      max-width: 60px !important;
      width: 100%;
    }
  }
}
