.BlurScreen {
  position: fixed;
  background: var(--blur-screen);
  will-change: opacity;
  opacity: 0.64;
  inset: 0px;
  transition: opacity 300ms ease 0s;
  pointer-events: auto;
  z-index: 60;
}
